$colores: (
    /*clave: valor */
    twitter:   #55acee,
    facebook:  #3a5795,
    mail:      #C25E30,
    instagram: purple,
    youtube:   red,
    snapchat:  yellow,
);





.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px 0px;
    grid-auto-flow: row;
    grid-template-areas: "producto_1 producto_2" "producto_3 producto_4" "producto_5 producto_6" "producto_7 producto_8";
}

.producto_1 {
    grid-area: producto_1;
}

.producto_2 {
    grid-area: producto_2;
}

.producto_3 {
    grid-area: producto_3;
}

.producto_4 {
    grid-area: producto_4;
}

.producto_5 {
    grid-area: producto_5;
}

.producto_6 {
    grid-area: producto_6;
}

.producto_7 {
    grid-area: producto_7;
}

.producto_8 {
    grid-area: producto_8;
}


