// esto es un comentari scss
/* esto es un comentario css */

// IMPORT 
@import "colores";
@import "estructuras";
@import "variable";
@import "texto";


// VARIABLES

$negro: black;
$verde: green;
$rojo: red;
$azul: blue;
$amarillo: yellow;

$normal: normal;
$cursiva: italic;
$negrita: bold;


$ancho: 100%;
$largo_25:25%; 

// OPERACION PARA EL DESAFIO
.carousel_1 {
    width: $ancho;
}

.carousel_2 {
    width: $ancho/2;
}

// BUCLE

@for $var from 1 to 6 {
    //fragmento repite
    h#{$var} {
        font-size: 2.5rem/$var;
    }
}

// MAPS

$colores: (
    /*clave: valor */
    twitter:   #55acee,
    facebook:  #3a5795,
    mail:      #C25E30,
    instagram: purple,
    youtube:   red,
    snapchat:  yellow,
);


@keyframes aparecer {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
}




// ANIDAMIENTO

*{
    text-decoration: none;
}

body {
    min-width: 1250px;
}

div {
    border: solid 1px;
}

h1 {
    font-family: "Bebas Neue";
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-name: aparecer;
    animation-name: aparecer;
    background-image: -webkit-gradient(linear, left top, left bottom, from(red), to(yellow));
    background-image: linear-gradient(red, yellow);
}

h3 {
    font-family: "Bebas Neue";
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-name: aparecer;
    animation-name: aparecer;
    background-image: -webkit-gradient(linear, left top, left bottom, from(red), to(yellow));
    background-image: linear-gradient(red, yellow);
}

img:hover {
    color: rgba(251, 251, 251, 0.972);
    font-family: "Bebas Neue";
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

header {
    background-color: #010c09cc;
    height: 50vh;
}

footer {
    background-color: #010c09cc;
    height: 200%;
    color: #fff;
    text-align: center;
}

p {
    color: white;
}

table {
    padding: 2px;
    -webkit-box-pack: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


// MENU 
/* MENU */

.menu {
    max-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1250px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.menu li {
    list-style: none;
    font-family: "Roboto";
    color: white;
}

.menu li a {
    color: white;
    list-style: none;
    text-decoration: none;
}

.buscador {
    height: 50px;
}

.bienvenido {
    color: #f5f109;
    font-family: "Bebas Neue";
}

.imagenFondo {
    background-image: url("https://64.media.tumblr.com/dabf94521a6fecd6a37f27036c0e5336/4ad0193310348e5c-59/s1280x1920/5d58baf83921271f7283fd9cf3e52e9c0f0d55bb.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border: solid 1px white;
}

.registro {
    background-color: #010c09cc;
}

.roboto {
    font-family: "Roboto";
}

.bebasNeue {
    font-family: "Bebas Neue";
}

.margenes iframe {
    margin-left: 500px;
}

.imagenes {
    max-width: 100%;
    max-height: 25%;
}

.padding {
    padding: 30px 0px 100px 50px;
}

.contenedor-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
}


// GRIDS 
/* GRIDS */

.container {
    border: solid 2px black;
    padding: 2px; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "producto_1 producto_2" "producto_3 producto_4" "producto_5 producto_6" "producto_7 producto_8";
}

.producto_1 {
    grid-area: producto_1;
}

.producto_2 {
    grid-area: producto_2;
}

.producto_3 {
    grid-area: producto_3;
}

.producto_4 {
    grid-area: producto_4;
}

.producto_5 {
    grid-area: producto_5;
}

.producto_6 {
    grid-area: producto_6;
}

.producto_7 {
    grid-area: producto_7;
}

.producto_8 {
    grid-area: producto_8;
}

.container_2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    border: 1px;
}

.Producto_A {
    grid-area: 1 / 1 / 2 / 4;
}

.producto_B {
    grid-area: 2 / 1 / 3 / 2;
}

.producto_C {
    grid-area: 2 / 2 / 3 / 3;
}

.Producto_E {
    grid-area: 2 / 3 / 3 / 4;
}

.producto_A {
    grid-area: 1 / 1 / 2 / 4;
}

/*FIN DE GRIDS */

.producto_A {
    width: 100%;
    border: 1px;
}

.producto_B {
    width: 412px;
}

.producto_C {
    width: 477px;
}

.centrar_Carousel {
    display: flex; 
    text-align: center;
    display: center;
}

  /* OTROS */

.normal {
    font-style: normal;
    font-weight: normal;
}

.cursiva {
    font-style: italic;
}

.negrita {
    font-weight: bold;
}

.textoGrande {
    font-size: 40px;
}

.textoRelativo {
    font-size: 200%;
}

.impact {
    font-family: "Impact";
}

.chiquito {
    max-height: 50%;
    max-width: 50%;
    text-align: center;
}

.centrar {
    text-align: center;
}

.justificado {
    text-align: justify;
}

.aLaDerecha {
    text-align: right;
}



